<div class="work">
	<%= link_to image_tag("content/people/thumbnails/#{person.image_url}", :alt => person.lname ), person %>
	<h4 class="work_title">
			<li><%= person.fname %> <%= person.lname %></li>
	</h4>
</div>