<h2 id="all" class="scroll">Everyone</h2>
	<% for person in @people %>
		<li><%= person.fname %> <%= person.lname %></li>
	<% end %>

<h2 id="ds" class="scroll">Design Studies</h2>
	
<h2 id="id" class="scroll">Industrial Design</h2>

<h2 id="mfa" class="scroll">Masters of Fine Arts</h2>

<h2 id="vcd" class="scroll">Visual Communication Design</h2>