<h2><%= @project.title %></h2>
<div id="images">
	<%= image_tag("content/projects/large/#{@project.image_url}", :alt => @project.title )%>
</div>
<h4>See more projects in:<br />
<% @project.categories.each do |category| %>
<li><a href='/#<%= category.name.downcase %>' class="scroll"><%= category.name %> Design</a></li>
<% end %>
</h4>